@model  AISModels.SpecialStatus
@using (Ajax.BeginForm("Edit", "SpecialStatus", null, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "refreshContent" }, new { @id = "ModalForm" }))
{
    @Html.ValidationSummary(true)
    <div class="for-edit">
        <h1 id="title">
            Edit Status</h1>
        <input type="button" onclick="cancelClick()" value="Cancel" id="btnCancel" />
        <input type="submit" value="Save" class="saveBtn svbtn" />
    </div>
    <div class="add-new-main content_1">
        <div class="add-new-inner">
            <div class="add-new-sec-1">
                <label>
                    Status</label>
                @Html.TextBoxFor(model => model.Status)
                <br />
                @Html.ValidationMessageFor(model => model.Status)
                @Html.HiddenFor(model => model.SpecialStatusId)
                <span id="Rerror" style="color: Red"></span>
            </div>
        </div>
    </div>
}
