@model AISModels.Reservation
@{
    ViewBag.Title = "Reservation cancelled";
    Layout = "~/Views/Shared/_LayoutOnline.cshtml";
    var company = Request["company"].ToString();
}

<div class="row main-hding">
    <h3>Cancelled</h3>
    <span style="float:right;"><button type="button" class="btn btn-default cancel-btn" onclick="window.location.href = '/@company/online'">Search Again</button></span>
</div>
<div class="row reservation">
    <h1>Your Booking has been cancelled successfully.</h1>
</div>
