@model string
@{
    ViewBag.Title = "Reservation failed";
    Layout = "~/Views/Shared/_LayoutOnline.cshtml";
    string company = ViewBag.company;
}

<div class="row main-hding">
    <h3>Error</h3>
    <span style="float:right;"><button type="button" class="btn btn-default cancel-btn" onclick="window.location.href='/@company/online'">Search Again</button></span>
</div>
<div class="row reservation">
    @*<img class="img-responsive" src="~/Content/Online/img/smile.png" />*@
    <p>Your booking has failed.</p>

    <h6>
        @Html.Raw(Model)
    </h6>
</div>
