.hasDatepicker {
    margin-left: -20px;
    position: relative;
    width: 16px;
    border: 0 none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    color: #555555;
    font-weight: normal;
}

.ui-datepicker .ui-datepicker-header {
    padding: 0.2em 0;
    position: relative;
}


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: url("/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
    color: #555555;
    font-weight: normal;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: 0.2em;
    text-align: right;
    text-decoration: none;
}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    color: #222222;
    margin-left: -123px;
    margin-top: 42px;
}

.secHover {
    background: #0489B1 !important;
    border: 1px solid #FF0000 !important;
    transition: none;
}

.isMerged {
    background: #e8867c !important;
    transition: none;
}

.settings .menu-bar {
    z-index: 9 !important;
}

.quan-2-other1 h3, .quan-2-1 h3, .quan-4-1 h3 {
    color: #3D3D3D;
    float: left;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 0 0 6px;
    width: auto;
}

.floor .table-main h3.quan-2-h {
    color: #3D3D3D;
    float: none;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 0 0;
}

.floor .table-main p, #mrgtblPreview p {
    bottom: 5px;
    color: #878787;
    float: left;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 2px 0 0 14px;
    position: absolute;
    right: 5px;
    text-align: right;
    margin: 0;
}

    .floor .table-main p.quan-2-p {
        bottom: 6px;
        color: #878787;
        float: left;
        font-family: 'Lato',sans-serif;
        font-size: 14px;
        font-weight: 700;
        position: absolute;
        right: 0;
        padding: 0;
        text-align: center;
        width: 100%;
        margin: 0;
    }

/*
        img.table-img
        {
            position: absolute;
            right: 19px;
            top: 11px;
            z-index: 9;
        }
        */
img.table-img {
    left: -12px;
    position: absolute;
    top: 34%;
    z-index: 9;
}

.pop-sec-btn input[type="button"] {
    float: none;
    margin-right: inherit;
}

.frnt-right-popup {
    height: auto;
    position: relative;
}

.mCSB_scrollTools {
    z-index: -1 !important;
}

.frnt-right-rowb .resInfo ul.reslist li p:nth-child(4) {
    text-align: center;
    width: 42px;
}

.pop-sec-btn input[type="button"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D0D4D9;
    border-radius: 4px;
    box-shadow: 0 2px 0 #D1D1D1;
    color: #434A54;
    cursor: pointer;
    font-family: 'Lato',sans-serif;
    font-size: 16px;
    padding: 10px 25px;
}

.nav {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 3px 0 #CFCFCF;
    height: 42px;
    left: 50px;
    padding: 0 25px;
    position: absolute;
    top: 2px;
    z-index: 1;
}

.ui-datepicker .ui-datepicker-next {
    right: 14px !important;
}

.frnt-right-rowb .resInfo ul.reslist li a {
    float: left;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.floor .top-bar ul li {
    font-size: 15px;
}

.frnt-right-rowb .resInfo ul.reslist li.active {
    background: #434a54;
}

.frnt-right-rowb .resInfo ul.reslist li.active {
    background: #434a54;
}

    .frnt-right-rowb .resInfo ul.reslist li.active p:nth-child(1) span {
        background: #900;
    }

    .frnt-right-rowb .resInfo ul.reslist li.active p:nth-child(2) span, .frnt-right-rowb .resInfo ul.reslist li.active p:nth-child(2) span strong, .frnt-right-rowb .resInfo ul.reslist li.active p:nth-child(3) span, .frnt-right-rowb .resInfo ul.reslist li.active p:nth-child(3) span i {
        color: #fff;
    }

.show-tooltip-right {
    background: #fff;
    border: solid 4px #a7aaaf;
    width: 345px;
    height: 375px;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 999999;
    padding-bottom: 45px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    display: none;
}

.show-tooltip-right-toggle {
    display: block !important;
}

.show-tooltip-left {
    background: #fff;
    border: solid 4px #a7aaaf;
    width: 400px;
    height: 375px;
    position: absolute;
    right: 100%;
    top: 0;
    z-index: 999;
    padding-bottom: 45px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    display: none;
}

    .show-tooltip-left .row h2 {
        width: 42% !important;
    }

    .show-tooltip-left .stsreset {
        margin-left: 4px;
    }

.show-tooltip-left-toggle {
    display: block !important;
}

.top-bar .ui-state-default, .top-bar .ui-widget-content .ui-state-default, .top-bar .ui-widget-header .ui-state-default {
    z-index: auto;
}

/* Notes edit css starts here */

input.pop-sec-note-btn-save[type="button"] {
    background: url("/images/icon-pop-save.png") no-repeat scroll center 50% #FFFFFF !important;
    border: 1px solid #D0D4D9 !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 0 #D1D1D1 !important;
    color: rgba(0, 0, 0, 0) !important;
    cursor: pointer !important;
    font-family: 'Lato',sans-serif !important;
    font-size: 0 !important;
    height: 32px !important;
    width: 32px !important;
}

input.pop-sec-note-btn-cancel[type="button"] {
    background: url("/images/icon-pop-delete.png") no-repeat scroll center 50% #FFFFFF !important;
    border: 1px solid #D0D4D9 !important;
    border-radius: 4px !important;
    box-shadow: 0 2px 0 #D1D1D1 !important;
    color: rgba(0, 0, 0, 0) !important;
    cursor: pointer !important;
    font-family: 'Lato',sans-serif !important;
    font-size: 0 !important;
    height: 32px !important;
    margin-left: 12px !important;
    width: 32px !important;
}

input.pop-sec-note-btn-save[type="button"]:hover {
    background: url("/images/icon-pop-save-hover.png") no-repeat scroll center 50% #E8867C !important;
    border: 1px solid #E8867C !important;
    box-shadow: 0 2px 0 #E1675B !important;
    color: #FFFFFF !important;
}

input.pop-sec-note-btn-cancel[type="button"]:hover {
    background: url("/images/icon-pop-delete-hover.png") no-repeat scroll center 50% #E8867C !important;
    border: 1px solid #E8867C !important;
    box-shadow: 0 2px 0 #E1675B !important;
    color: #FFFFFF !important;
}

/* Notes edit css ends here */

.t-inner {
    padding: 0 6px 0 12px !important;
}

    .t-inner select {
        width: 114% !important;
    }

    .t-inner .mCSB_scrollTools {
        z-index: 1 !important;
    }

/**** refresh button css ****/

.top-bar input[type="button"] {
    background: none repeat scroll 0 0 #fff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    font-family: 'Lato',sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 0 12px;
    transition: all 0.3s ease-out 0s;
}

    .top-bar input[type="button"]#currentDateRef, .top-bar input[type="button"]#countDownRef {
        background: none repeat scroll 0 0 Green;
    }

/*** Merge Table PopUp***/

.ta-main .row-check {
    width: auto;
}

    .ta-main .row-check .col-check-mian {
        width: 150px;
    }

    .ta-main .row-check .col-check {
        width: 138px;
    }

        .ta-main .row-check .col-check label {
            width: 80px;
        }

.popOverlay-body > div#mrgtblDesign {
    border: 2px solid gray;
    float: left;
    height: auto;
    width: 100%;
    margin: 4px 0;
    position: relative;
    padding: 25px 0;
}

#mrgtblDesign > div#mrgtblPreview {
    left: 0; /*margin: 0 140px;*/
    position: relative;
    right: 0;
    height: 150px;
}

.popOverlay-body .t-inner label {
    width: 30%;
}

.popOverlay-body .t-inner .row {
    margin-bottom: 13px;
}

    .popOverlay-body .t-inner .row .left-s {
        width: 30%;
    }

    .popOverlay-body .t-inner .row .right-s {
        width: 27%;
    }

.popOverlay-body h1 {
    color: #8d8d8d;
    text-align: center;
}

#mrgtblPreview > div {
    left: 0 !important;
    margin-left: 23%;
    margin-top: 5%;
    right: 0 !important;
}

.show-tooltip-left .row h3.rowtbl {
    width: 39px !important;
}

.show-tooltip-right .row h2 {
    width: 43% !important;
}

#AdResAdditionalDetail #guestNoteEdt > textarea, #AdResAdditionalDetail #resNoteEdt > textarea {
    width: 256px;
}

/*transfer effect*/

.ui-effects-transfer {
    border: 1px dotted black;
    z-index: 9999;
}

#addTabs .mCSB_scrollTools {
    z-index: 1 !important;
}

#addResTabs li a {
    text-transform: none;
    padding: 14px 8px;
}

/******* 2015-06-17 ******/

.frnt-right-rowb .ftrgGroup.walkin img {
    height: 38px;
    width: 38px;
}

.frnt-right-rowb .ftrgGroup.walkin ul {
    min-height: 40px;
}

/********* 2015-06-18 **********/

.show-tooltip-left .row {
    border-bottom: none;
}

    .show-tooltip-left .row h3.rowtbl {
        margin-right: 3px;
        padding-right: 8px;
    }

        .show-tooltip-left .row h3.rowtbl a {
            padding: 12px 0px;
        }

.rowtbl.quickEdt:hover {
    background: #e8867c;
    display: block;
    height: 45px;
}

    .rowtbl.quickEdt:hover a {
        color: #FFFFFF;
    }

        .rowtbl.quickEdt:hover a strong {
            color: #FFFFFF;
        }

/** 20150629 **/
.frnt-right-popup {
    display: block;
}

.flvl .select-wrapper {
    width: 114px !important;
}

    .flvl .select-wrapper .holder {
        margin: 0 20px 0 5px !important;
    }


/***** 20150707 *****/
.staticTime .select-wrapper {
    background: none;
}

a {
    outline: 0;
}

/***** 20150707 *****/

/* Custom styled notice CSS */
.ui-pnotify.custom .ui-pnotify-container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.ui-pnotify.custom .ui-pnotify-title, .ui-pnotify.custom .ui-pnotify-text {
    font-family: Arial, Helvetica, sans-serif !important;
    /*text-shadow: 2px 2px 3px black !important;*/
    font-size: 10pt;
    padding-left: 20px;
    line-height: 1;
    text-rendering: geometricPrecision;
}

.ui-pnotify.custom .ui-pnotify-title {
    font-weight: bold;
}

.ui-pnotify.custom .ui-pnotify-icon {
    float: left;
}

.ui-pnotify.custom .picon {
    margin: 3px;
    width: 33px;
    height: 33px;
}

.ui-pnotify.custom .alert {
    border: 1px solid transparent;
    border-radius: 4px;
    /*margin-bottom: 20px;*/
    padding: 15px;
    font-size: 14px;
}

    .ui-pnotify.custom .alert h4 {
        font-size: 16px;
    }

.ui-pnotify.custom .alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.ui-pnotify.custom .alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.ui-pnotify.custom .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.ui-pnotify.custom .alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}


/*  29/07/2015 */
.pop-sec-b pre {
    color: #333333;
    font-size: 13px;
    float: left;
    margin: 0;
    white-space: pre-wrap; /* CSS 3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
