@model AISModels.Restrictions
<div class="section-r-info">
    <div class="section-l-img">
        Restriction</div>
    <div class="section-r-info">
        <h1>@Model.Restriction</h1>
    </div>
</div>
