body {
    background: #efefef;
    font-family: 'Open Sans', sans-serif;
}

.jumbotron.vertical-center {
    margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
}

.jumbotron {
    padding: 14px 0;
}

.vertical-center {
    min-height: 100%; /* Fallback for vh unit */
    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    /* Align the bootstrap's container vertically */
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
    width: 100%;
    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.wrapper {
    background: #fff;
    width: 740px;
    position: relative;
    z-index: 0;
    box-shadow: 0 0 3px rgba(197, 197, 197,0.9);
}

    .wrapper::before {
        background-image: url("../img/bg-img.png");
        bottom: -20px;
        content: " ";
        height: 20px;
        left: -10px;
        position: absolute;
        width: 101%;
    }

.top-hdr {
    background: #000;
    padding: 0;
}

.top-hdr-left {
    float: left;
    padding: 10px 15px;
}

.top-hdr-right h1 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding-right: 8px;
    padding-top: 15px;
    text-align: right;
}

.top-hdr-right span {
    color: #ecb483;
    font-size: 16px;
}

.main-hding {
    border-bottom: dashed 1px #ddd;
}

    .main-hding h3 {
        float: left;
        font-size: 24px;
        margin: 0;
        padding: 20px 18px;
        text-align: left;
    }

.cancel-btn {
    background: #eeeeee;
    border: 1px solid #999;
    border-radius: 6px;
    color: #909090;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 20px;
    padding: 10px 15px;
    text-shadow: 0 1px #fff;
}

.reservation {
    border-bottom: 1px dashed #ddd;
    border-top: 1px dashed #ddd;
    margin-top: 3px;
    background: #f9f9f9;
}

.s-date {
    width: 33.3%;
    float: left;
}

    .s-date input {
        background: none repeat scroll 0 0 #fff;
        border: 1px solid #ddd;
        border-radius: 6px;
        box-shadow: -1px 2px 3px -1px #ccc inset;
        color: #737373;
        font-size: 15px;
        margin-left: 12px;
        padding: 15px 10px 14px 50px;
        position: relative;
        width: 86%;
    }

    .s-date label {
        color: #000;
        font-size: 15px;
        font-weight: 400;
        padding: 12px 0 0;
        text-align: left;
        width: 95%;
    }

/*.iconP .filter-option.pull-left {
    background: url("../img/profile.png") no-repeat scroll 6% 48% rgba(0, 0, 0, 0);
    color: #737373;
    font-size: 15px;
    padding: 14px 14px 14px 45px;
    position: relative;
    width: 85%;
}

.iconT .filter-option.pull-left {
    background: url("../img/clock.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #737373;
    font-size: 15px;
    padding: 14px 14px 14px 45px;
    position: relative;
    width: 85%;
    background-position: 6%;
}*/

/*#region changes to convert bootstrap-select into simple CSS3 select */

.iconP::before {
    height: 25px;
    left: 25px;
    position: absolute;
    content: "";
    background: url("../img/profile.png") no-repeat;
    top: 54px;
    width: 24px;
}

.iconT::before {
    background: url("../img/clock.png") no-repeat;
    content: "";
    height: 25px;
    left: 25px;
    position: absolute;
    top: 54px;
    width: 24px;
}


/*#endregion */

.s-date input {
    background: url("../img/cal.png") no-repeat scroll 10px center rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: -1px 2px 3px -1px #ccc inset;
    color: #737373;
    font-size: 15px;
    margin-left: 4px;
    padding: 15px 10px 14px 50px;
    position: relative;
    width: 100%;
}

.caret {
    background: url("../img/arrow-down.png") no-repeat scroll 9% 48% rgba(0, 0, 0, 0);
}

.bootstrap-select.btn-group .btn .caret {
    border: medium none;
    height: 26px;
    margin-top: -9px;
    position: absolute;
    right: 7px;
    top: 50%;
    vertical-align: middle;
    width: 21px;
}

.reserve-btn {
    background: linear-gradient(#3896c2, #3082a7) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    margin: 15px;
    padding: 10px;
    width: 95%;
    font-weight: 400;
}

    .reserve-btn:hover {
        background: linear-gradient(#3896c2, #3082a7) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: medium none;
        border-radius: 6px;
        color: #000;
        font-size: 20px;
        margin: 15px;
        padding: 10px;
        width: 95%;
    }


.rsrv-btn {
    background: linear-gradient(#f1f1f1, #e0e0e0) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: solid 1px #e0e0e0;
    border-radius: 2px;
    color: #909090;
    text-shadow: 0 1px #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 0;
    width: 100%;
    text-transform: uppercase;
}

    .rsrv-btn:hover {
        background: linear-gradient(#3896c2, #3082a7) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: solid 1px #3082a7;
        border-radius: 2px;
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        margin: 20px 0 0;
        width: 100%;
        text-transform: uppercase;
    }

.result-sec1 {
    color: #c3c3c3;
    font-weight: 700;
    font-size: 24PX;
    padding: 50px 0px;
}

.result-sec {
    color: #c3c3c3;
    font-weight: 700;
}

    .result-sec p {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        padding: 15px 0px;
    }

.s-date .party-cover {
    width: 100%;
}

.btn.dropdown-toggle.selectpicker.btn-default {
    border: 1px none #ddd;
    padding: 0px;
    box-shadow: -1px 2px 3px -1px #ccc inset;
}

    .btn.dropdown-toggle.selectpicker.btn-default:hover, .btn.dropdown-toggle.selectpicker.btn-default:hover {
        border: 1px none #ddd;
        background: none;
        padding: 0px;
    }

.pick-time .btn.dropdown-toggle.selectpicker.btn-default {
    padding: 0px;
}

.pick-time .filter-option.pull-left {
    margin-top: 4px;
    padding: 12px 12px 12px 45px !important;
}

.marginBottom {
    margin-bottom: 15px;
}

.buyPro label {
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 400;
    line-height: inherit;
    text-align: left;
}

.custSelect .form-control {
    border: 1px solid #d5d5d5;
    height: auto;
}

.custSelect1 .form-control {
    border: 1px solid #d5d5d5;
    height: auto;
}

/*#region changes to convert bootstrap-select into simple CSS3 select */


/*.custSelect select.form-control {
    width: 100%;
    height: 50px;
    background-color: #ebebeb;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-indent: .01px;
    text-overflow: "";
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(0%, #ebebeb), color-stop(100%, #fdfdfd));
    background-image: -moz-linear-gradient(bottom, #ebebeb 0, #fdfdfd 100%);
    background-image: -webkit-linear-gradient(bottom, #ebebeb 0, #fdfdfd 100%);
    background-image: linear-gradient(to top, #ebebeb 0, #fdfdfd 100%);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #B0B0B0;
    padding: 7px 10px 8px 45px;
}*/

.custSelect select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-size: 100% auto;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: -1px 2px 3px -1px #ccc inset;
    height: 50px;
    padding: 7px 10px 8px 45px;
    text-indent: 0.01px;
    text-overflow: "";
    width: 100%;
}

.custSelect::after {
    background: url("../img/arrow-down.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 17px;
    position: absolute;
    right: 29px;
    top: 59px;
    width: 17px;
}

.custSelect select.form-control option {
    background-color: #fff;
}


/*#endregion */

.res {
    padding: 0px 15px;
    float: left;
    width: 100%;
}

    .res li {
        border-radius: 3px;
        box-shadow: 0 0 0 1px rgba(164, 164, 164, 0.3);
        color: #555555;
        display: inline;
        float: left;
        font-size: 22px;
        font-weight: 400;
        list-style: outside none none;
        margin-bottom: 20px;
        margin-right: 17px;
        padding: 17px 0 0;
        width: 18%;
    }

        .res li:last-child {
            box-shadow: 0 0 0 1px rgba(164, 164, 164, 0.3);
            border-radius: 3px;
            display: inline;
            float: left;
            list-style: outside none none;
            margin-right: 0px;
            padding: 17px 0 0;
            width: 18%;
            font-size: 22px;
            color: #555555;
            margin-bottom: 20px;
            font-weight: 400;
        }

        .res li:hover {
            background: #000;
            color: #FFF;
        }

        .res li:last-child:hover {
            background: #000;
            color: #FFF;
        }

.result-secL p {
    color: #949494;
    font-size: 16px;
    margin: 15px 0;
    padding: 0 15px;
    text-align: left;
}

.result-secL span {
    margin-top: -9px;
    padding: 0;
}

.txtflds {
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    color: #7e7e7e;
    float: left;
    margin-bottom: 15px;
}

.checkbtn {
    color: #000;
    float: left;
    font-size: 14px;
    margin-top: -3px;
    padding-left: 15px;
    text-align: left;
}

.info {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px 15px;
    padding: 0px;
}

.info {
    list-style: none;
    text-align: left;
}

    .info li {
        border-bottom: 1px solid #ddd;
        font-size: 18px;
        padding: 6px 15px;
    }

        .info li:last-child {
            border-bottom: none;
            font-size: 18px;
            padding: 6px 15px;
        }

    .info span {
        font-weight: 600;
    }

.Address {
    text-align: right;
    width: 61.667%;
    margin-top: 15px;
}

    .Address li {
        list-style: none;
        font-size: 16px;
    }

        .Address li span {
            list-style: none;
            font-size: 16px;
            font-weight: 600;
        }

.reservation > h1 {
    font-size: 20px;
    padding: 40px 0;
    font-weight: 600;
}

.result-sec12 {
    color: #c3c3c3;
    font-size: 24px;
    font-weight: 700;
    padding: 15px 0;
}

.result-secL h5 {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    text-align: left;
}

.botm-btns {
    border-top: 1px dashed #ddd;
    margin-top: 70px;
}

.Cancel-btn {
    background: none;
    border: medium none;
    border-radius: 6px;
    color: #808080;
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0px;
    padding: 10px;
    width: 100%;
}

    .Cancel-btn:focus {
        background: linear-gradient(#3896c2, #3082a7) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: medium none;
        border-radius: 6px;
        color: #fff;
        font-size: 20px;
        margin: 15px 0px;
        padding: 10px;
        width: 100%;
        font-weight: 600;
    }

.welcome-txt {
    padding: 18px;
    border-bottom: dashed 1px #ddd;
}

    .welcome-txt > span {
        font-size: 20px;
    }

.map-btns {
    border-top: 1px dashed #ddd;
    padding: 10px;
}

.ER-btn {
    background: linear-gradient(#f1f1f1, #dfdfdf) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #ddd;
    border-radius: 6px;
    color: #909090;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    padding: 10px 15px;
    width: 95%;
}

    .ER-btn:hover {
        background: linear-gradient(#ececec,#f1f1f1) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: 1px solid #ddd;
        border-radius: 6px;
        color: #909090;
        font-size: 20px;
        font-weight: 600;
        margin: 10px;
        padding: 10px 15px;
        width: 95%;
    }

.CR-btn {
    background: linear-gradient(#fb4948, #b93225) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #960c0c;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    padding: 10px 15px;
    width: 95%;
}

    .CR-btn:hover {
        background: linear-gradient(#e1403a, #fb4948) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: 1px solid #960c0c;
        border-radius: 6px;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin: 10px;
        padding: 10px 15px;
        width: 95%;
    }

.D-btn {
    background: linear-gradient(#3897c3, #3081a6) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #266684;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    padding: 10px 15px;
    width: 95%;
}

    .D-btn:hover {
        background: linear-gradient(#3691bc, #3897c3) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: 1px solid #266684;
        border-radius: 6px;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin: 10px;
        padding: 10px 15px;
        width: 95%;
    }

.welcome-txt > h1 {
    margin: 0;
}

.reservation img {
    margin: 0 auto;
    padding-top: 30px;
}

.reservation p {
    font-size: 22px;
    font-weight: 600;
    padding: 10px 10px 5px 10px;
    margin-bottom: 0px;
}

.reservation h6 {
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto 30px;
    text-align: center;
    width: 83%;
    color: #f76455;
}


@media(max-width:768px) {
    .result-secL img {
        width: 100%;
    }

    .res {
        width: 100%;
    }

        .res li {
            width: 18%;
        }
}

@media(max-width:640px) {
    .wrapper::before {
        width: 103%;
    }

    .result-secL img {
        width: 100%;
    }

    .res {
        width: 100%;
    }

        .res li {
            margin-bottom: 0;
            margin-right: 10px !important;
            width: 18.5%;
        }

        .res > li:nth-child(4) {
            margin-right: 9px;
        }

    .rsrv-btn {
        font-size: 22px;
        font-weight: 400;
        width: 100%;
    }

        .rsrv-btn:hover {
            font-size: 22px;
            font-weight: 300;
            width: 100%;
        }

    .Address {
        margin-top: -132px;
        text-align: right;
        width: 61.667%;
    }
}

@media(max-width:667px) {
    .res li {
        margin-bottom: 19px;
        margin-right: 10px !important;
        width: 47% !important;
    }
}

@media(max-width:480px) {
    .wrapper::before {
        width: 102%;
    }

    .welcome-txt > span {
        width: 100%;
    }

    .welcome-txt > h1 {
        font-size: 21px !important;
        margin: 0;
        text-align: center !important;
        width: 100%;
    }

    .result-secL img {
        width: 100%;
    }

    .top-hdr-right h1 {
        padding-top: 0;
        margin-top: 20px;
    }

    .top-hdr-left {
        padding: 10px;
    }

    .s-date input {
        padding: 15px 10px 14px 43px;
    }

    .iconT .filter-option.pull-left {
        background: url("../img/clock.png") no-repeat scroll 2% center rgba(0, 0, 0, 0);
    }

    .iconP .filter-option.pull-left {
        background: url("../img/profile.png") no-repeat scroll 2% 48% rgba(0, 0, 0, 0);
        padding: 14px 14px 14px 40px;
    }

    .main-hding h3 {
        font-size: 24px;
        padding: 20px 0px 20px 14px;
        float: left;
    }

    .cancel-btn {
        padding: 10px 20px;
    }

    .Address {
        margin-top: -146px;
        text-align: right;
        width: 47.667%;
    }

    .result-secL > p {
        font-size: 13px;
    }

    .result-secL span {
        margin-top: 0;
        padding: 0;
    }

        .result-secL span span {
            font-size: 13px !important;
        }

    .checkbtn label {
        font-size: 13px;
        width: 96%;
    }

    .reserve-btn {
        width: 93% !important;
        margin-left: 0px;
        margin-right: 0px;
    }

        .reserve-btn:hover {
            width: 90%;
        }

    .s-date {
        float: left;
        width: 100%;
    }

        .s-date input {
            margin: 0;
            width: 100%;
        }

        .s-date label {
            width: 100%;
        }

    .res li:last-child {
        font-size: 16px;
        width: 18%;
    }

    .rsrv-btn {
        font-size: 15px;
    }

        .rsrv-btn:hover {
            font-size: 15px;
            font-weight: 300 !important;
        }
}

@media(max-width:360px) {
    .welcome-txt > h1 {
        font-size: 21px !important;
        margin: 0;
        text-align: center !important;
        width: 100%;
    }

    .result-secL img {
        width: 100%;
    }

    .welcome-txt > span {
        text-align: center !important;
        width: 100%;
    }

    .result-sec p {
        padding: 15px;
    }

    .top-hdr-right h1 {
        padding-top: 0;
        margin-top: 10px;
    }

    .main-hding h3 {
        font-size: 20px;
        padding: 20px 0px 20px 14px;
        float: left;
    }

    .cancel-btn {
        padding: 4px 15px;
    }

    .Address {
        margin-top: -146px;
        text-align: right;
        width: 47.667%;
    }

    .result-secL > p {
        font-size: 13px;
    }

    .result-secL span {
        margin-top: 0;
        padding: 0;
    }

        .result-secL span span {
            font-size: 13px !important;
        }

    .checkbtn label {
        font-size: 13px;
        width: 96%;
    }

    .reserve-btn {
        width: 91% !important;
    }

        .reserve-btn:hover {
            width: 91% !important;
        }

    .s-date {
        float: left;
        width: 100%;
    }

        .s-date input {
            margin: 0;
            width: 100%;
        }

        .s-date label {
            width: 100%;
        }

    .res li:nth-child(2) {
        margin-right: 0 !important;
        margin-bottom: 12px;
    }

    .res li:nth-child(4) {
        margin-right: 0 !important;
        margin-bottom: 12px;
    }

    .res li:last-child {
        float: left;
        margin-bottom: 19px !important;
        width: 47.3% !important;
    }
}

@media(max-width:320px) {
    .wrapper::before {
        width: 103%;
    }

    .welcome-txt > h1 {
        font-size: 21px !important;
        margin: 0;
    }

    .result-secL img {
        width: 100%;
    }

    .main-hding h3 {
        padding: 20px 0 0 14px;
    }

    .cancel-btn {
        margin: 13px;
        padding: 4px 11px;
    }

    .reserve-btn {
        width: 90% !important;
        margin-left: 0px;
        margin-right: 0px;
    }

        .reserve-btn:hover {
            width: 90% !important;
            margin-left: 0px;
            margin-right: 0px;
        }

    .res li {
        margin-bottom: 19px;
        margin-right: 19px !important;
        width: 46% !important;
    }

        .res li:last-child {
            float: left;
            margin-right: 20px !important;
            width: 46% !important;
        }

    .info li:last-child {
        font-size: 14px;
    }

    .info li {
        font-size: 14px;
    }

    .Address li {
        font-size: 14px;
    }

    .Address {
        margin-top: -123px;
    }

    .result-secL span {
        font-size: 10px;
    }

        .result-secL span span {
            font-size: 10px !important;
        }

    .result-sec p {
        font-size: 12px !important;
        margin: 0;
        padding: 12px;
    }

    .iconT .filter-option.pull-left {
        background: url("../img/clock.png") no-repeat scroll 4% center rgba(0, 0, 0, 0);
    }

    .iconP .filter-option.pull-left {
        background: url("../img/profile.png") no-repeat scroll 4% 48% rgba(0, 0, 0, 0);
        padding: 14px 14px 14px 40px;
    }
}
