@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";

}
@section styles
{
    <style type="text/css">
        .new-pro-pic {
            height: 120px;
            margin: 5px;
            width: 120px;
        }
    </style>
}
<div class="middle-section">
    <div class="top-filter">
        <ul>
            <li><a href="/Setting/Index">Settings</a></li>
            <li><a class="active" href="/User/Index">Users</a></li>
            <li><a href="/ShiftHour/Index">Hours</a></li>
            <li><a href="/Floor/Index">Floorplan</a></li>
            <li>
                <a href="javascript:void(0)">Master</a>
                <ul>
                    <li><a href="/Allergy/Index">Allergies</a></li>
                    <li><a href="/Restriction/Index">Restriction</a></li>
                    <li><a href="/SpecialStatus/Index">SpecialStatus</a></li>
                    <li><a href="/City/Index">City</a></li>
                    <li><a href="/Designation/Index">Designation</a></li>
                    <li><a href="/PhoneTypes/Index">PhoneTypes</a></li>
                </ul>
            </li>
            <li><a href="/History/Index">History</a></li>

        </ul>
    </div>
    <div class="for-edit">
        <a href="/User/Create">
            <div class="add-people">
                <span class="tooltip_p">
                    <div class="arrow-down">
                    </div>
                    Add User
                </span>
            </div>
        </a>

        <a href="javascript:void(0)" class="hideadmin">
            <div class="delete">
                <span class="tooltip_d">
                    <div class="arrow-down">

                    </div>
                    Delete
                </span>
            </div>
        </a>
        <a href="javascript:void(0)" class="hideadmin">
            <div class="edit">
                <span class="tooltip_e">
                    <div class="arrow-down">
                    </div>
                    Edit
                </span>
            </div>
        </a>
    </div>
    <div id="profileView" class="profile">
    </div>
</div>
<div class="manage-section" id="swipeBox" ontouchstart="touchStart(event,'swipeBox');" ontouchend="touchEnd(event);" ontouchmove="touchMove(event);" ontouchcancel="touchCancel(event);">
    <div class="m-right-btn">
    </div>
    <div class="search-main">
        <p>
            Filter
        </p>
        <div class="onoffswitch">
            <input id="onoffswitch1" class="onoffswitch-checkbox" type="checkbox" />
            <label class="onoffswitch-label" for="onoffswitch1">
                <div style="" class="onoffswitch-inner" />
        </div>
        <div style="" class="onoffswitch-switch">
        </div>
        </label>
    </div>
    <div class="search-bar">
        <input type="text" name="" id="searchbox" value="" placeholder="Search by Name or Phone Number" />
        <a href="javascript:void(0)">
            <img src="../../Images/search-icon.png" alt="">
        </a>
    </div>
    <div class="main-right-sec content_1">
        <div class="section-head" id="gg">
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var selectedUserId = @(ViewBag.Id);
        $(document).ready(function () {
            document.getElementById("aSettings").className = "active";

            //BindScroll('.manage-section', false);

            $("#onoffswitch1").click(function () {
                if ($("#onoffswitch1").is(":checked")) {
                    $("#searchbox").attr("disabled", false);
                } else {
                    $("#searchbox").attr("disabled", true);
                }
            });


            $("#searchbox").keyup(function () {
                var str = $("#searchbox").val();
                $.ajax({
                    type: 'Get',
                    url: '/User/Search',
                    data: { sTxt: str },
                    success: function (myData) {
                        $("#gg").html(myData);

                        $('.content_1').height($('.manage-section').height() - 97);

                        $(".settings .manage-section ul.people-status li").click(function () {
                            var id = $(this).attr('id');
                            $(".settings .manage-section ul.people-status li").removeClass('active');
                            $(this).addClass('active');

                            $('#profileView').load("/User/Details/" + id, function () { });

                            $('.settings .middle-section .for-edit .edit').off('click');
                            $('.settings .middle-section .for-edit .delete').off('click');

                            $('.settings .middle-section .for-edit .edit').click(function () {
                                window.location.href = "/User/Edit/" + id;
                            });
                            $('.settings .middle-section .for-edit .delete').click(function () {
                                if (confirm("Do you want to delete this user?")) {
                                    $.ajax({
                                        type: 'POST',
                                        url: '/User/Delete/' + id,
                                        success: function (myData) {
                                            if (myData) {
                                                alert("User deleted successfully.");
                                                window.location.reload();
                                            }
                                            else {
                                                alert("An error occured while deleting user, Please try again later.");
                                            }
                                        }
                                    });
                                }
                            });

                            selectedUserId = id;
                        });
                        if (selectedUserId == 0) {
                            $(".settings .manage-section ul.people-status li:first").click();

                        }
                        else {
                            $(".settings .manage-section ul.people-status li#" + selectedUserId).click();
                        }
                    }
                })
            });
            $("#searchbox").keyup();
        });
    </script>
    <script type="text/javascript">
        (function ($) {
            $(".content_1").mCustomScrollbar({ updateOnContentResize: true });
        })(jQuery);
    </script>


}
