body{
	font-family: 'Open Sans', sans-serif;
	overflow-y: scroll;
}
a, a:focus{border: 0px; outline: none;}
.chooser-location{
	padding: 0px;
}
.noLeft {
  float: none;
}
.chooser-location a{
	display: block;
	background: #27292a;
	color: #b0afac;
	font-size: 14px;
	text-align: center;
	line-height: 43px;
	text-decoration: none;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.chooser-location a:hover{
	background: #000;
	color: #fff;
}
.h-banner{
	padding: 0px;
	position: relative;
}
.h-banner img.banner{
	width: 100%;
	height: auto;
}

/* Home Search */
.search-select {
  bottom: 37px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 1100px;
}
.search-select h1{
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  font-size: 67px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 4px;
  margin-bottom: 0px;
}
.search-select p{
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 300;
}
/* Home Search */


/* Login Registeration  */

/* login section */

.login-sec{
	position: absolute;
	left: 20px;
	top: 20px;
}
.login-sec .btn{
	margin-right: 5px;
}
.btn-orange, .btn-orange:hover, .btn-orange:focus{
	background: #e47825;
	border:1px solid #e47825;
	color: #fff;
}
.btn-gray, .btn-gray:hover, .btn-gray:focus{
	background: #353839;
	border:1px solid #3f4344;
	color: #fff;
}
.login-pop {
  left: 0;
  margin-top: -150px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 5;
}

.login-pop .center-block h2{
	color:#fff;
	font-size: 27px;
	color:#fff;
	text-transform: uppercase;
	margin:0 0 0 2px;
	font-weight: 300;
}
.signGroup{
	border:1px solid #212121; 
	padding: 0px;
	border-radius: 25px;
}
.login-pop .center-block input[type="text"].form-control{
	height: 75px;
	border-radius: 25px 25px 0 0;
	padding-left:75px;
	background: #121212 url(../images/icon-emaiid.png) 28px 50% no-repeat;
	border: 0px;
	border-bottom:1px solid #212121; 

}

.login-pop .center-block input[type="password"].form-control{
	height: 75px;
	border-radius: 0 0 25px 25px;
	padding-left:75px;
	background: #121212 url(../images/icon-password.png) 28px 50% no-repeat;
	border: 0px;
	border-top:1px solid #212121;
}
.login-pop .center-block input.form-control::-webkit-input-placeholder { color: rgba(255,255,255,0.22); }
.login-pop .center-block input.form-control:-moz-placeholder { color: rgba(255,255,255,0.22); }
.login-pop .center-block input.form-control::-moz-placeholder { color: rgba(255,255,255,0.22); }
.login-pop .center-block input.form-control:-ms-input-placeholder { color: rgba(255,255,255,0.22); }

.login-pop .center-block input[type="text"], .login-pop .center-block input[type="password"]{
	font-size: 18px;
	font-weight: 300;
}
.remberPw label {
  color: rgba(255, 255, 255, 0.40);
  font-family: open sans;
  font-size: 16px;
  font-weight: 300;
  margin-left: 5px;
}
.forgotPw a{
   color: rgba(255, 255, 255, 0.40);
  font-family: open sans;
  font-size: 16px;
  font-weight: 300;
  margin-left: 5px;
  white-space: nowrap;
}
.btnLogin{
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 2px;
}

/* Register section */

.registerPop{
	position: absolute;
	top: 50%;
	z-index: 5;
	right: 0px;
	left: 0px;
	margin:0 auto; 
	margin-top: -150px;
}
.registerPop h2{
	text-align:center;
	font-size: 30px;
	font-weight: 300;
	color: #ffffff;
	margin: 35px 0 65px 0;
}
.cust-field{
	position: relative;
}
.cust-field > span.holder {
	position: absolute;
	margin: 15px 16px;
	color:rgba(98,98,98,0.77);
	cursor: auto;
	font-size: 13px;
	z-index: 1;
}
.cust-field > span.holder > span.small {
	color:#e47825;
	font-size:11px;
}
.cust-field .bootstrap-select.btn-group .btn .caret {
  margin-top: -2px;
  position: absolute;
  right: 12px;
  top: 50%;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background: url(../images/arrow-select.png) no-repeat;
  border: 0px;
}
.cust-field .dropdown-menu{
	background: #121212;
}
.dropdown-menu > li > a{
	background: #121212 !important;
	color: #fff !important;
}
.cust-field input[type="text"].form-control, .cust-field input[type="email"].form-control, .cust-field input[type="password"].form-control{
	height: 49px;
	background: #121212;
	border: 1px solid #363636;
	border-radius: 8px;
}
.cust-field .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}
.cust-field .bootstrap-select .btn-default, .cust-field .bootstrap-select .btn-default:focus, .cust-field .bootstrap-select .btn-default:hover{
	height: 47px;
	background: #121212;
	border: 1px solid #363636;
	border-radius: 8px;
	color: #5b5b5d;
}
.registerPop .remberPw{
	color: #8a8d91;
	font-size: 12px;
}
.signupSocialBtns{
	position: absolute;
	bottom: 30px;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	z-index:5;
	display: none;
}
.signupSocialBtns a{
	margin: 0 15px;
}
a.btnCloseRegister, .btnCloseLogin{
	width: 74px;
	height: 23px;
	background: url(../images/btn-close.png);
	position: absolute;
	top: 25px;
	right: 25px;
	z-index: 5;
	text-indent: -9999px;
	display: none;
}
.btnCloseSearch{
	display: block;
	width: 74px;
	height: 23px;
	background: url(../images/btn-close.png);
	position: absolute;
	top: 25px;
	right: 25px;
	z-index: 5;
	text-indent: -9999px;	
}	

.search-fileds {
  background: rgba(0, 0, 0, 0) url("../images/bg-search.png") no-repeat scroll 0 0;
  clear: both;
  display: block;
  margin: 0 auto;
  width: 1004px;
}
.search-fileds .serch-first{
	float: left;
	width: 162px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 0 0 35px;
	background: url(../images/icon-guest.png) 15px 19px no-repeat;
	border-right:1px solid #363636;
	height: 61px; 
}
.search-fileds .serch-first .selectpicker.btn-default{
	background: transparent;
	border: 0px;
	color: #fff;
	padding-left: 30px;
	font-size: 15px;
}
.search-fileds .serch-first .bootstrap-select.btn-group .btn .caret {
  left: 12px;
  color: #5e5e5e;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  vertical-align: middle;
}
.search-fileds .serch-first .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}
.search-fileds .serch-sec{
	float: left;
	width:161px; 
	border-right:1px solid #363636;
	height: 61px; 
	padding: 13px 0 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

.search-fileds .serch-third{
	float: left;
	width: 141px;
	border-right:1px solid #363636;
	height: 61px; 
	padding: 13px 0 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;		
}
.search-fileds .serch-sec input{
	background: url("../images/icon-date.png") no-repeat 0 50% !important;
	padding-left: 35px;	
}
.search-fileds .serch-third .input-group-addon {
  border: 0px;
  background: transparent;
}
.search-fileds .serch-sec  .input-group-addon, .search-fileds .serch-third  .input-group-addon{
	padding: 0px;
}
.search-fileds .serch-sec .glyphicon.glyphicon-calendar {
  background: url("../images/icon-date.png") no-repeat scroll 0 0;
  height: 24px;
  text-indent: -9999px;
  width: 26px;
  padding: 0px;
  margin: 0px ;
}
.search-fileds .serch-sec input, .search-fileds .serch-third input{
	background: transparent;
	color: #fff;
	font-size: 15px;
	border: 0px;
	border-radius: 0px;
}
.search-fileds .serch-sec input:focus, .search-fileds .serch-third input:focus{
	box-shadow: none;
}
.serch-third .glyphicon-time{
	text-indent: -9999px;
	width: 27px;
	height: 26px;
	background: url(../images/icon-time.png) no-repeat;
}
.search-fileds .serch-fourth{
	float: left;
	width: 321px;
	height: 61px; 
	padding: 13px 0 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;			

}
.search-fileds .serch-fourth input{
	background: transparent;
	font-size: 15px;
	color: #fff;
	border: 0px;
	background: url(../images/icon-search.png) 0 50% no-repeat;
	padding-left: 36px;
}
.search-fileds .serch-fourth input:focus{
	box-shadow: none;
}

.search-fileds .serch-fourth input.form-control::-webkit-input-placeholder { color: #fff; }
.search-fileds .serch-fourth input.form-control:-moz-placeholder { color: #fff; }
.search-fileds .serch-fourth input.form-control::-moz-placeholder { color: #fff; }
.search-fileds .serch-fourth input.form-control:-ms-input-placeholder { color: #fff; }
.search-fileds .serch-fifth {
  float: left;
  margin-left: 59px;
  width: 157px;
}
.search-fileds .serch-fifth button {
  background: #f37608 none repeat scroll 0 0;
  border: 1px solid #f37608;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  height: 51px;
  margin-left: 10px;
  margin-top: 6px;
  padding: 14px 22px;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}
.search-fileds .serch-fifth button:hover{
	background:#333;
	color: #f37608;
}


/* Login Registeration  */
.mainHheader{
	padding: 0px;
	position: relative;	
}
.mainHheader.backdrop-bg:before{
	position: absolute;
	content:'';
	width: 100%;
	height: 100%;
	background: rgba(39,41,42,0.9);
	display: block;
	z-index: 3;

}
.h-popular{
	margin-top: 18px;

}
.h-popular h1{
	float: left;
	background: url(../images/icon-heading.png) no-repeat;
	font-size: 20px;
	color: #0c0d0d;
	text-transform: uppercase;
	font-weight: 300;
	margin: 0px 0 15px 0;
	width: 100%;
	padding-left: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 2px;
	padding-bottom: 5px;
}
.popImg{
	float: left;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	margin-bottom: 25px;
}
.popImg img.img-responsive {
	width: 100%;
	height: auto;
	border-radius: 15px;
}
.popImg h2{
	position: absolute;
	top:0px;
	left: 15px;
	font-size: 26px;
	color: #ffffff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.36); 
	font-weight: 300;
}
.popImg .ftr {
  background: #101111 none repeat scroll 0 0;
  border-radius: 0 0 10px 10px;
  bottom: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  left: 0;
  padding: 9px;
  position: absolute;
  width: 100%;
}
.popImg .ftr .price{
	color: #fff;
	font-size: 12px;
}
.popImg .ftr .price b{
	color: #e47825;
	font-weight: 400;
}
.ftr > a.like {
  float: right;
  height: 12px;
  text-decoration: none;
  text-indent: -9999px;
  width: 13px;
  background: url(../images/icon-like.png) 0 0px no-repeat;
  margin-top: 6px;
}
.ftr > a.like:hover, .ftr > a.like.act{
	background: url(../images/icon-like-select.png) 0 0px no-repeat;
}
.popImg:before{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	border-radius: 10px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.popImg:hover:before{
	background: rgba(0,0,0,0.9);
}
.btn-reservation{
	position: absolute;
	top: 50%;
	margin: 0 auto;
	left: 0px;
	right: 0px;
	color: #fff;
	background:url(../images/btn-bg.png) no-repeat;
	background-size: cover;
	width: 158px;
	font-size: 16px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: -22px;
	border-radius: 8px 8px 6px 6px;
	opacity: 0;
	display: none;
	
}
.btn-reservation:hover{
	color: #e47825;
}
.popImg:hover .btn-reservation{
	display: block;
	opacity: 1;
}
.h-localDine{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}
.h-localDine h1{
	font-size: 103px;
	color: #e47825;
	margin: 0px;
	font-family: 'Rouge Script', cursive;
}
.h-localDine h2{
	font-size: 63px;
	color: #000;
	font-weight: 300;
	margin: 0px;
}
.h-localDine p{
	font-size: 20px;
	color: #000;
	margin: 0px;
	font-weight: 300;
}
.h-gallery{
	background: url(../images/bg-gray.jpg) bottom no-repeat;
	background-size: 100% auto;
	padding-bottom: 82px;
}
.h-gallery .readMore{
	font-style: italic;
	font-size: 13px;
	color: #fff;
	display: inline-block;
	background:url(../images/icon-readmore.png) 100% 50% no-repeat; 
	padding-right: 20px;
	margin-bottom: 25px;

}

.h-gallery h1{
	font-size: 26px;
	font-weight: 300;
	color: #fff;
}
.h-gallery p{
	color: #fff;
	font-size: 13px;
}
.hm-gallery-sec .first-sec{
	background: #292d30;
}
.hm-gallery-sec .sec-sec{
	background: #292d30;
}
.hm-gallery-sec .sec-sec img.img-responsive, .hm-gallery-sec .first-sec img.img-responsive{
	width: 100%;
}
.hm-gallery-sec .sec-three{
	background: #e47825;
}
.hm-gallery-sec .sec-three img.img-responsive{
	width: 100%;
}
.hm-gallery-sec .sec-four img.img-responsive{
	width: 100%;
}
.hm-gallery-sec .sec-four{
	background: #151719
}
.h-team{
	background: #ebe7de;
	padding-top:25px;
	padding-bottom: 25px;
}
.h-team h1{
	font-size: 36px;
	color: #16171b;
	font-weight: 400;
	text-align: center;
	line-height: 40px;
	margin-bottom: 25px;
}
.h-team h1 span{
	font-size: 20px;
	color: #16171b;
	display: block;
}
.h-team .team-sec{
	text-align: center;
}
.h-team .team-sec img{
	border-radius: 100%;
	border: 1px solid #ccc;
}
.h-team .team-sec h2{
	font-size: 20px;
	color: #16171b;
	font-weight: 400;
	margin: 8px 0 8px 0;
}
.h-team .team-sec h2 span{
	display: block;
	font-size: 14px;
	color: #e47825;
}
.h-team .team-sec p{
	color: #151719;
	font-size: 13px;
}
.h-seprator{
	height: 8px;
	background: url(../images/seprator.jpg);
}
.footer{
	background: #ffffff;
}
.ftr-logo{
	margin: 25px 0 10px 0
}
.social{
	text-align: right;
	padding: 35px 0 0 0;
}
.social span {
  display: inline-block;
  vertical-align: top;
}
.social ul {
	display: inline-block;
	width: auto;
	margin: 0 0 0 0;
	padding:0 0 0 0; 
	}
.social ul li{
	float: left;
	width: 25px;
	height: 25px;
	text-decoration: none;
	text-indent: -9999px;
	list-style: none;
	margin-left: 4px;
}	
.social ul li a{
	display: block;
	background:url(../images/icon-social.png) 0 0 no-repeat;
	text-indent: -9999px;
	font-size: 0px;
	width: 25px;
	height: 25px;
	border-radius: 100%;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;

}
.social ul li a.fb{
 	background-position:-0px -9px ;

}
.social ul li a.tw{
	background-position:-27px -9px ;
}
.social ul li a.gp{
	background-position:-54px -9px ;	
}
.social ul li a.in{
	background-position:-81px -9px ;
}
.social ul li a.fb:hover{
	background-color: #3c599b;
}
.social ul li a.tw:hover{
	background-color: #02bcfb;	
}
.social ul li a.gp:hover{
	background-color: #db6d5c;
}
.social ul li a.in:hover{
	background-color: #1381c2;
}

.news-signup{

}
.news-signup .form-group{
	width: 100%;
}
.news-signup label{
	font-size: 12px;
	font-weight: 600;
	color: #000;
	margin: 0 0 11px 0;
} 
.news-signup .form-control{
	border-radius: 0px;
	 width: calc(100% - 120px);
	 display: inline-block;
}
.news-signup .btn{
	border-radius: 0px;
	background: #31353a;
	border:1px solid #000;
	color: #fff;
	margin-left: 10px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.news-signup .btn:hover{
	background: #e47825;
	color: #000;
}
.news-signup p{
	font-size: 13px;
	color: #000;
	display: block;
	margin-top: 5px;
}
ul.ftr-links{
	margin-top: 15px;
	margin-bottom: 35px;
	margin-left: 0px;
	padding-left: 0px;
}
ul.ftr-links li{
	list-style: none;
}
ul.ftr-links li a{
	color: rgba(22,23,27,.7);
	font-size: 13px;

}
.copyright{
	background:url(../images/footer-bg.jpg) no-repeat; 
	background-size: cover;
	

}
.copyright .container{
	height: 68px;
	background: url(../images/footer-icon-2.png) center no-repeat;
}

/* Search Section */
.search-sec{
	background: #27292a;
}
.search-cate{
	background: #1a1b1c;
}
.search-cate h3{
	font-size: 12px;
	color: #e47825;
	font-weight: 400;
	text-transform: uppercase;
}
.search-list{
 margin: 0 -30px;	
} 
.search-cate ul {
  padding: 10px 0 0 0 ;
  border-bottom: 0px;
}
.search-cate ul li a{
	font-size: 12px;
	color: #a3abaf;
	display: block;
	padding: 7px 15px;
	border-radius: 0px;
	border:0px;	
	
}
.search-cate ul li a:hover, .search-cate ul li.active a{
	background: #27292a url(../images/arrow-list.png) 98% 50% no-repeat !important;	
	text-decoration: none !important;
	border: 0px !important;
}
.search-fld{
	background: #343738;
	border: 1px solid #464646;
	border-radius: 18px;
}
.search-fld input{
	border-radius: 18px;
	background: transparent;
	border: 0px;
	color: rgba(163,171,175,0.50);
	padding-left: 25px;
	width: calc(100% - 40px);
}
.search-fld button{
	background: transparent;
	border: 0px;
	color: #797d82;
}
.search-listing h1{
	font-size: 14px;
	color: #b0afac;
	text-transform: uppercase;
	padding: 8px 0 0 35px;
	background: url(../images/icon-location.png) 0 0 no-repeat;
	padding-bottom: 10px;
}
.borderR > div {
	border-right: 1px solid #353839;
	min-height: 262px;
}
.borderR > div:last-child {
	border:0px;
}
.search-listing ul{
	margin: 0px;
	padding: 0px 0 0 19px;
}
.search-listing ul li{
	list-style: none;
	margin-bottom: 9px;
}
.search-listing ul li a{
	color: #a3abaf;
	font-size: 12px;
}


/* Search Section */
@media(max-width: 1106px){
	.registerPop h2{
		margin: 0px;
	}
	.search-select h1{
		font-size: 28px;
	}
	.search-select p{
		font-size: 16px;
	}
	.h-banner {
	  min-height: 519px;
	  overflow-x: hidden;	 
	  background: url(../images/banner-main.jpg) center center no-repeat;
	  background-size:cover; 
	}
	.h-banner img{
		display: none;

	}
	.search-select, .serch-first, .serch-sec, .serch-third, .serch-fourth, .serch-fifth{
		width: 100% !important;
		border-right: 0px !important;

	} 
	.search-fileds .serch-fifth{
		margin-left: 0px;
		margin-bottom: 15px;
	}
	.search-fileds{
		width: 95%;
		background: rgba(0,0,0,0.4);
		border-radius: 35px;
		border:1px solid #333;

	}
}

@media(max-width: 1047px){
	.registerPop h2{
		margin: 0px;
	}
}
@media(max-width: 990px){
	.search-cate{
		padding-top: 35px;
	}
}
