@using AIS.Extensions;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
@section styles
{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <style type="text/css">
        .rowSelected {
            background: none repeat scroll 0 0 #F3F3F3;
        }

        .show-tooltip-right:hover {
            display: block;
        }

        .show-tooltip-left:hover {
            display: block;
        }

        .calendar-sec .cal-main-tab table.cal-table-n tbody tr td a {
            height: 100%;
        }

        .calendar-sec .cal-main-tab table.cal-table-n tbody tr td p {
            color: #858585;
        }

        .for-edit {
            margin: 20px;
        }

        .field-validation-error {
            color: red !important;
            float: right;
            margin: 0 auto;
        }

        .ui-cluetip-header {
            display: none !important;
        }

        .cluetip-jtip .cluetip-inner {
            padding: 0px !important;
        }

        .ui-widget-content {
            border: none !important;
        }

        .cluetip-arrows.ui-state-default, .cluetip-arrows.ui-widget-content .cluetip-arrows.ui-state-default, .cluetip-arrows.ui-widget-header .cluetip-arrows.ui-state-default {
            border: none !important;
        }

        .show-tooltip-left .row h3.rowtbl, .show-tooltip-right .row h3.rowtbl {
            width: 38px !important;
        }

        .show-tooltip-right .row h2, .show-tooltip-left .row h2 {
            width: 42% !important;
        }
    </style>
}
@section scripts
{
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js" type="text/javascript"></script>
    <script src="../../js/jquery.hoverIntent.js" type="text/javascript"></script>
    <script src="../../js/jquery.cluetip.js" type="text/javascript"></script>
    <script src="../../Scripts/Calendar/Calendar.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#datepicker").datepicker();
            setTodayDate();
        });

        function afterLoad() {
            $('td.reser-tool-tip p').click(function () {
                $('.show-tooltip-right').not($(this).parent().find('.show-tooltip-right')).removeClass('show-tooltip-right-toggle');
                $('.show-tooltip-left').removeClass('show-tooltip-left-toggle');
                $(this).parent().find('.show-tooltip-right').toggleClass('show-tooltip-right-toggle');
            });

            $('td.reser-tool-tip-l p').click(function () {
                $('.show-tooltip-right').removeClass('show-tooltip-right-toggle');
                $('.show-tooltip-left').not($(this).parent().find('.show-tooltip-left')).removeClass('show-tooltip-left-toggle');
                $(this).parent().find('.show-tooltip-left').toggleClass('show-tooltip-left-toggle');
            });

            $('.m-left-btn').off('click');
            $('.m-left-btn').click(function () {
                $('.menu-bar').toggleClass('menu-bar-toggle');
                $('.m-left-btn').toggleClass('m-left-btn-toggle');
                $('.middle-section').toggleClass('middle-section-toggle1');
                $('.calendar-sec').toggleClass('calendar-sec-toggle1');
            });
        }

        function getWeekList() {
            var srh = $("#search").val();
            $.ajax({
                data: { date: $("#datepicker").val(), shiftId: $('#shiftddl :selected').val(), name: $("#search").val() },
                url: '/Calendar/WeekList',
                success: function (data) {
                    $("#weekGrid").html(data);

                    //afterLoad();
                    BindClueTip('a.jt');
                    $("#search").val(srh);

                    $("#search").keypress(function (e) {
                        if (e.keyCode == 13) {
                            getWeekList();
                        }
                    });

                    $("#search").blur(function () {
                        getWeekList();
                    });

                    //                    $(".tooltip-inner.content_1 .row").click(function (e) {
                    //                        $(".tooltip-inner.content_1 .row").removeClass("rowSelected");
                    //                        $(e.currentTarget).addClass("rowSelected");

                    //                        var rid = $(e.currentTarget).attr('id');

                    //                        var edit = $($(e.currentTarget)).parents('td').find('li.edit-tool').find('a');
                    //                        edit.attr('href', '/FloorPlan/FloorPlan?ReservationId=' + rid);

                    //                        var del = $($(e.currentTarget)).parents('td').find('.delete-tool').find('a');
                    //                        del.click(function () {
                    //                            deleteReservation(rid);
                    //                        });
                    //                    });

                }
            });
        }

        function setTodayDate() {
            var actualDate = new Date();
            newDate = new Date(actualDate.getFullYear(), actualDate.getMonth(), actualDate.getDate());

            $("#datepicker").datepicker("option", "dateFormat", 'mm/ dd/ yy');
            $('#datepicker').datepicker('setDate', newDate);

            getWeekList();
        }

        function deleteReservation(id) {
            if (confirm("Are you sure you want to delete.")) {
                $.ajax({
                    type: 'POST',
                    data: { ReservationId: id },
                    url: '/Reservation/DeleteReservation',
                    success: function (data) {
                        getWeekList();
                        $("#" + id).remove();
                    }
                });
            }
        }
        function addReservation() {
            window.location.href = "/FloorPlan/FloorPlan/?resDate=" + encodeURIComponent($.datepicker.formatDate('D, M d, yy', $("#datepicker").datepicker('getDate')));
        }

        function setDateFun(type) {
            var actualDate = new Date($("#datepicker").val());
            var newDate = null

            if (type == 'p') {
                newDate = new Date(actualDate.getFullYear(), actualDate.getMonth(), actualDate.getDate() - 1);
            } else {
                newDate = new Date(actualDate.getFullYear(), actualDate.getMonth(), actualDate.getDate() + 1);
            }

            $("#datepicker").datepicker("option", "dateFormat", 'mm/ dd/ yy');
            $('#datepicker').datepicker('setDate', newDate);

            getWeekList();
            GetShiftNote();
        }
    </script>
}
<div class="middle-section calendar-sec">
    <div class="calendar-top-row">
        <input class="today-btn" type="button" value="Today" name="" onclick="window.location.href = '/Calendar/Days'" />
        <div>
            <div class="date-picker">
                <div class="cleft" style="width: 100px;" onclick="setDateFun('p')">
                </div>
                <input type="text" id="datepicker" onchange="getWeekList()" />
                <div class="cright" style="width: 100px;" onclick="setDateFun('n')">
                </div>
            </div>
        </div>
        <div class="select-t">
            @Html.DropDownList("shiftddl", (SelectList)ViewBag.shiftDdl, "All Shifts", new { onchange = "getWeekList()" })
        </div>
        <ul>
            <li>
                <a onclick="showDayShiftNotes()">
                    <img src="/images/s-note.png" alt="" /><br />
                    Shift Notes
                </a>
                <div id="shiftDiv" style="display: none">
                    @Html.Action("GetShiftNote", new AISModels.ShiftNotes { Date = DateTime.UtcNow.ToClientTime().Date, FoodMenuShiftId = null, Type = "Day" })
                    @*@Html.Partial("ShiftNotes", new AISModels.ShiftNotes())*@
                </div>
            </li>
            <li>
                <a onclick="addReservation()">
                    <img src="/images/add-reservation.png" alt="" /><br />
                    Add Reservation
                </a>
            </li>
        </ul>
    </div>
    <div class="cal-main-tab" id="weekGrid">
    </div>
</div>
