@{
    ViewBag.Title = "Index";


    Layout = "~/Views/Shared/_LayoutMondofiNew.cshtml";

}

<div class="container-fluid">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pricing-hd" style="margin-top: 70px;">
            <h1><strong>Mondo<span>fi</span></strong> Pricing</h1>
            @*<p>We love talking with customers about their unique businesses. Give us a ring at (001) 123-6541, send an email to <br><a href="mailto:accounts@mondofi.com">accounts@mondofi.com</a>, or tell us a little bit about you and your venue.</p>*@

        </div>
        <div class="col-xs-12  col-sm-12 col-md-offset-1 col-md-10 pricing-content">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
                <ul class="pricing-plans">
                    <li class="hd">Standard</li>
                    <li class="price">$99.00/month</li>
                    <li class="list-txt">Free 30 day trial</li>
                    <li class="list-txt">$0 Setup Fee</li>
                    <li class="list-txt">$0 Cover Fee</li>
                    <li class="list-txt">$0 Web Access Fee</li>
                    <li class="list-txt">No Contract</li>
                    <li class="list-txt">No Cancellation Fee</li>
                    <li class="list-txt">Email Support</li>
                    <li class="list-txtgrey">&nbsp;&nbsp;</li>
                    <li class="list-txtgrey">&nbsp;&nbsp;</li>
                    <li class="list-txtgrey">&nbsp;&nbsp;</li>

                    <li class="validity">Pricing Guarantee</li>
                    <a href="/Account/register?PL=99"><li class="pric-btn"><button type="button" class="btn btn-default">Select Plan</button></li></a>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">

                <ul class="pricing-plans">
                   
                    <li class="hd">Premium</li>
                    <li class="price">$149.00/month</li>
                    <li class="list-txt">Free 30 day trial</li>
                    <li class="list-txt">$0 Setup Fee</li>
                    <li class="list-txt">$0 Cover Fee</li>
                    <li class="list-txt">$0 Web Access Fee</li>
                    <li class="list-txt">No Contract</li>
                    <li class="list-txt">No Cancellation Fee</li>
                    <li class="list-txt">Phone Support</li>
                    <li class="list-txtgrey">&nbsp;&nbsp;</li>
                    <li class="list-txtgrey">&nbsp;&nbsp;</li>
                    <li class="list-txtgrey">&nbsp;&nbsp;</li>
                    <li class="validity">Pricing Guarantee</li>
                    <a href="/Account/register?PL=149"><li class="pric-btn"><button type="button" class="btn btn-default">Select Plan</button></li></a>
</ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
                <ul class="pricing-plans prem">
                    <span class="tag"><img src="~/Content/MondofiThemeNew/images/tag.png" alt=""></span>
                    <li class="hd">ultimate</li>
                    <li class="price">$199.00/month</li>
                    <li class="list-txt">Free 30 day trial</li>
                    <li class="list-txt">$0 Setup Fee</li>
                    <li class="list-txt">$0 Cover Fee</li>
                    <li class="list-txt">$0 Web Access Fee</li>
                    <li class="list-txt">No Contract</li>
                    <li class="list-txt">No Cancellation Fee</li>
                    <li class="list-txt">Phone Support</li>
                    <li class="list-txt">Floorplan Build</li>
                    <li class="list-txt">Unlimited Feature Additions</li>
                    <li class="list-txt">Ongoing Training</li>
                    <li class="validity">Pricing Guarantee</li>
                    <a href="/Account/register?PL=199"> <li class="pric-btn"><button type="button" class="btn btn-default">Select Plan</button></li></a>
</ul>
            </div>
           
        </div>
    </div>
</div>
