@{
    ViewBag.Title = "Index";


    Layout = "~/Views/Shared/_LayoutMondofiNew.cshtml";

}

<div class="container-fluid">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pricing-hd" style="margin-top: 70px;">
            <h1>Get Started with <strong>Mondo<span>fi</span></strong> Pricing</h1>
            <p>We love talking with customers about their unique businesses. Give us a ring at (001) 123-6541, send an email to <br><a href="mailto:accounts@mondofi.com">accounts@mondofi.com</a>, or tell us a little bit about you and your venue.</p>

        </div>
        <div class="col-xs-12  col-sm-12 col-md-offset-1 col-md-10 pricing-content">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
                <ul class="pricing-plans">
                    <li class="hd">Standard</li>
                    <li class="price">$199.00</li>
                    <li class="list-txt">Technical Support</li>
                    <li class="list-txt">Access to All Themes</li>
                    <li class="list-txt">Perpetual Theme</li>
                    <li class="list-txt">Premium Support</li>
                    <li class="validity">Validity - 3 Months</li>
                    <a href="/Account/register"><li class="pric-btn"><button type="button" class="btn btn-default">Select Plan</button></li></a>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">

                <ul class="pricing-plans prem">
                    <span class="tag"><img src="~/Content/MondofiThemeNew/images/tag.png" alt=""></span>
                    <li class="hd">Premium</li>
                    <li class="price">$399.00</li>
                    <li class="list-txt">Technical Support</li>
                    <li class="list-txt">Access to All Themes</li>
                    <li class="list-txt">Perpetual Theme</li>
                    <li class="list-txt">Premium Support</li>
                    <li class="validity">Validity - 6 Months</li>
                    <li class="pric-btn"><a href="/Account/register"><button type="button" class="btn btn-default">Select Plan</button> </a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
                <ul class="pricing-plans">
                    <li class="hd">ultimate</li>
                    <li class="price">$599.00</li>
                    <li class="list-txt">Technical Support</li>
                    <li class="list-txt">Access to All Themes</li>
                    <li class="list-txt">Perpetual Theme</li>
                    <li class="list-txt">Premium Support</li>
                    <li class="validity">Validity - 12 Months</li>
                    <li class="pric-btn"><a href="/Account/register"><button type="button" class="btn btn-default">Select Plan</button></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
