<!DOCTYPE html>
<html>
<head>
    <title>Table Management</title>
    <meta name="viewport" content="width=1024, user-scalable=no">
    <link href="../../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../../css/jquery.onoff.css" rel="stylesheet" type="text/css" />
    <link href='//fonts.googleapis.com/css?family=Lato:400,700,400italic,300italic,900,700italic,900italic'
        rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="../../Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<![endif]-->
    <link href="../../css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
    <script src="../../js/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                $(".content_1").mCustomScrollbar({
                    set_width: false, /*optional element width: boolean, pixels, percentage*/
                    set_height: false, /*optional element height: boolean, pixels, percentage*/
                    horizontalScroll: false, /*scroll horizontally: boolean*/
                    scrollInertia: 0, /*scrolling inertia: integer (milliseconds)*/
                    mouseWheel: true, /*mousewheel support: boolean*/
                    mouseWheelPixels: "auto", /*mousewheel pixels amount: integer, "auto"*/
                    autoDraggerLength: true, /*auto-adjust scrollbar dragger length: boolean*/
                    autoHideScrollbar: false, /*auto-hide scrollbar when idle*/
                    scrollButtons: { /*scroll buttons*/
                        enable: true, /*scroll buttons support: boolean*/
                        scrollType: "continuous", /*scroll buttons scrolling type: "continuous", "pixels"*/
                        scrollSpeed: "auto", /*scroll buttons continuous scrolling speed: integer, "auto"*/
                        scrollAmount: 40 /*scroll buttons pixels scroll amount: integer (pixels)*/
                    },
                    advanced: {
                        updateOnBrowserResize: true, /*update scrollbars on browser resize (for layouts based on percentages): boolean*/
                        updateOnContentResize: true, /*auto-update scrollbars on content resize (for dynamic content): boolean*/
                        autoExpandHorizontalScroll: false, /*auto-expand width for horizontal scrolling: boolean*/
                        autoScrollOnFocus: false, /*auto-scroll on focused elements: boolean*/
                        normalizeMouseWheelDelta: false /*normalize mouse-wheel delta (-1/1)*/
                    },
                    contentTouchScroll: true, /*scrolling by touch-swipe content: boolean*/
                    callbacks: {
                        onScrollStart: function () { }, /*user custom callback function on scroll start event*/
                        onScroll: function () { }, /*user custom callback function on scroll event*/
                        onTotalScroll: function () { }, /*user custom callback function on scroll end reached event*/
                        onTotalScrollBack: function () { }, /*user custom callback function on scroll begin reached event*/
                        onTotalScrollOffset: 0, /*scroll end reached offset: integer (pixels)*/
                        onTotalScrollBackOffset: 0, /*scroll begin reached offset: integer (pixels)*/
                        whileScrolling: function () { } /*user custom callback function on scrolling event*/
                    },
                    theme: "light" /*"light", "dark", "light-2", "dark-2", "light-thick", "dark-thick", "light-thin", "dark-thin"*/
                });
            });
        })(jQuery);
    </script>
    <script>
        $(document).ready(function () {
            $('.m-left-btn').click(function () {
                $('.menu-bar').toggleClass('menu-bar-toggle');
                $('.m-left-btn').toggleClass('m-left-btn-toggle');
                $('.middle-section').toggleClass('middle-section-toggle1');
            });

            $('.m-right-btn').click(function () {
                $('.manage-section').toggleClass('manage-section-toggle');
                $('.m-right-btn').toggleClass('m-right-btn-toggle');
                $('.middle-section').toggleClass('middle-section-toggle2');
            });
        });
    </script>
</head>
<body>
    <div class="wrapper settings">
        <div class="menu-bar">
            <div class="logo">
                <a href="javascript:void(0)">
                    <img src="../../Images/logo.png" alt=""></a></div>
            <div class="m-left-btn">
            </div>
            <div class="manager-info">
                <img src="../../Images/manager-pic.png" alt="">
                <h3>
                    Leigh Manager</h3>
                <span class="d-time">Friday, Mar 21, 2014<br>
                    9:00 AM </span>
            </div>
            <div class="left-menu">
                <ul>
                    <li><a id="aCalender" href="/Calendar/Week">
                        <img src="/images/m-cal-icon.png" alt="">Calender </a></li>
                    <li><a id="aFloor" href="/Floor">
                        <img src="/images/m-floor-icon.png" alt="">Floor </a></li>
                    <li><a id="aGuests" href="/Customer/index">
                        <img src="/images/m-guests-icon.png" alt="">Guests </a></li>
                    <li><a id="aNotification" href="javascript:void(0)">
                        <img src="/images/m-notification-icon.png" alt="">Notification </a></li>
                    <li><a id="aSettings" href="javascript:void(0)">
                        <img src="/images/m-settings-icon.png" alt="">Settings </a></li>
                </ul>
            </div>
        </div>
        <div class="middle-section hours-section">
            <div class="top-filter">
                <ul>
                    <li><a href="/Setting/Index">Settings</a></li>
                    <li><a class="active" href="/User/Index">Users</a></li>
                    <li><a href="/ShiftHour/Index">Hours</a></li>
                    <li><a href="/Floor/Index">Floorplan</a></li>
                    <li><a href="javascript:void(0)">Master</a>
                        <ul>
                            <li><a href="/Allergy/Index">Allergies</a></li>
                                <li><a href="/Restriction/Index">Restriction</a></li>
                                <li><a href="/SpecialStatus/Index">SpecialStatus</a></li>
                                <li><a href="/City/Index">City</a></li>
                                <li><a href="/Designation/Index">Designation</a></li>
                                <li><a href="/PhoneTypes/Index">PhoneTypes</a></li>
                            
                        </ul>
                    </li>
                    <li><a href="/History/Index">History</a></li>
                   
                </ul>
            </div>
            @*<div class="for-edit">
                <a href="javascript:void(0)">
                    <div class="add-people">
                        <span class="tooltip_p">
                            <div class="arrow-down">
                            </div>
                            Add User </span>
                    </div>
                </a><a href="javascript:void(0)">
                    <div class="delete">
                        <span class="tooltip_d">
                            <div class="arrow-down">
                            </div>
                            Delete </span>
                    </div>
                </a><a href="javascript:void(0)">
                    <div class="edit">
                        <span class="tooltip_e">
                            <div class="arrow-down">
                            </div>
                            Edit </span>
                    </div>
                </a>
            </div>*@
            <div class="profile">
                @*<div class="section-l-img">
			<img src="../../Images/pro-pic.png" alt="">
			<span class="c-status"><img src="../../Images/available-icon.png" alt="">Available</span>
		</div>
       
		<div class="section-r-info">
		<span class="s-rating-pro"><img src="../../Images/s-rating-pro.png" alt=""></span>
			<h1>Garry Williams</h1>
			<p>Email</p>
			<h5>Alex_cole@gmail.com</h5>
			<p>Mobile</p>
			<h5>(604) 555-4211 , (604) 555-4211</h5>
		</div>*@
                @RenderBody()
            </div>
        </div>
        @*<div class="manage-section">*@ @*<div class="m-right-btn">
            </div>*@ @*<div class="search-main">
                <p>
                    Filter</p>
                <div class="onoffswitch">
                    <input id="onoffswitch1" class="onoffswitch-checkbox" type="checkbox"><label class="onoffswitch-label"
                        for="onoffswitch1"><div style="" class="onoffswitch-inner">
                        </div>
                        <div style="" class="onoffswitch-switch">
                        </div>
                    </label>
                </div>
                <div class="search-bar">
                    <input type="text" name="" id="searchbox" value="" placeholder="Search by Name or Phone Number">
                    <a href="javascript:void(0)">
                        <img src="../../Images/search-icon.png" alt=""></a>
                </div>
            </div>*@
        <div class="main-right-sec content_1">
            <div class="section-head" id="gg">
            </div>
            @*<div class="section-head" id="rightGrid">
                    <p>
                        A</p>
                </div>
                <ul class="people-status">
                    <li>
                        <img alt="" src="../../Images/available-icon.png">
                        <h1 id="allergyshow">
                            Albert,Mark<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                    <li>
                        <img alt="" src="../../Images/available-icon.png">
                        <h1>
                            Albert, Mark<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                </ul>
                <div class="section-head">
                    <p>
                        B</p>
                </div>
                <ul class="people-status">
                    <li>
                        <img alt="" src="../../Images/available-icon.png">
                        <h1>
                            Bill Johnson<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                </ul>
                <div class="section-head">
                    <p>
                        J</p>
                </div>
                <ul class="people-status">
                    <li>
                        <img alt="" src="../../Images/none-icon.png">
                        <h1>
                            Jones, Mike<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                    <li>
                        <img alt="" src="../../Images/available-icon.png">
                        <h1>
                            Jim, Smith<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                    <li>
                        <img alt="" src="../../Images/none-icon.png">
                        <h1>
                            James, Smith<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                </ul>
                <div class="section-head">
                    <p>
                        J</p>
                </div>
                <ul class="people-status">
                    <li>
                        <img alt="" src="../../Images/none-icon.png">
                        <h1>
                            Jones, Mike<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                    <li>
                        <img alt="" src="../../Images/available-icon.png">
                        <h1>
                            Jim, Smith<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                    <li>
                        <img alt="" src="../../Images/none-icon.png">
                        <h1>
                            James, Smith<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                </ul>
                <div class="section-head">
                    <p>
                        J</p>
                </div>
                <ul class="people-status">
                    <li>
                        <img alt="" src="../../Images/none-icon.png">
                        <h1>
                            Jones, Mike<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                    <li>
                        <img alt="" src="../../Images/available-icon.png">
                        <h1>
                            Jim, Smith<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                    <li>
                        <img alt="" src="../../Images/none-icon.png">
                        <h1>
                            James, Smith<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                </ul>
                <div class="section-head">
                    <p>
                        J</p>
                </div>
                <ul class="people-status">
                    <li>
                        <img alt="" src="../../Images/none-icon.png">
                        <h1>
                            Jones, Mike<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                    <li>
                        <img alt="" src="../../Images/available-icon.png">
                        <h1>
                            Jim, Smith<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                    <li>
                        <img alt="" src="../../Images/none-icon.png">
                        <h1>
                            James, Smith<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                </ul>
                <div class="section-head">
                    <p>
                        J</p>
                </div>
                <ul class="people-status">
                    <li>
                        <img alt="" src="../../Images/none-icon.png">
                        <h1>
                            Jones, Mike<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                    <li>
                        <img alt="" src="../../Images/available-icon.png">
                        <h1>
                            Jim, Smith<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                    <li>
                        <img alt="" src="../../Images/none-icon.png">
                        <h1>
                            James, Smith<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                </ul>
                <div class="section-head">
                    <p>
                        J</p>
                </div>
                <ul class="people-status">
                    <li>
                        <img alt="" src="../../Images/none-icon.png">
                        <h1>
                            Jones, Mike<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                    <li>
                        <img alt="" src="../../Images/available-icon.png">
                        <h1>
                            Jim, Smith<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                    <li>
                        <img alt="" src="../../Images/none-icon.png">
                        <h1>
                            James, Smith<br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                </ul>
                <div class="section-head">
                    <p>
                        W</p>
                </div>
                <ul class="people-status">
                    <li class="people-status-rating">
                        <img alt="" src="../../Images/available-icon.png">
                        <h1>
                            Williams, Garry
                            <br>
                            <span>(604) 555-2431</span></h1>
                    </li>
                </ul>*@
        </div>
        @*</div>*@
    </div>
    <script data-requiremodule="jquery" data-requirecontext="_" async="" charset="utf-8"
        type="text/javascript" src="../../js/jquery.js"></script>
    <script data-requiremodule="dist/jquery.onoff" data-requirecontext="_" async="" charset="utf-8"
        type="text/javascript" src="../../js/jquery_002.js"></script>
    <script type="text/javascript" src="../../js/require.js"></script>
    @*<script src="../../Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>*@
    @*<script src="../../Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>*@
    <script src="../../Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>
    <script type="text/javascript">
        (function ($) {
            $(".content_1").mCustomScrollbar({ updateOnContentResize: true });
        })(jQuery);
    </script>
</body>
</html>
