@{
    Layout = "~/Views/Shared/_LayoutMondofiNew.cshtml";
    ViewBag.Title = "Thank You";
}

<div class="container-fluid">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pricing-hd register-sec" style="margin-top: 68px;">
            <h1><strong>Sor<span>ry</span></strong></h1>


        </div>
    </div>
</div>