<div class="middle-section floor-section">
    <div class="top-filter">
        <ul>
            <li><a href="/Setting/Index">Settings</a></li>
            <li><a href="/User/Index">Users</a></li>
            <li><a href="/ShiftHour/Index">Hours</a></li>
            <li><a class="active" href="/Floor/Index">Floorplan</a></li>
            <li><a href="/TableAvailablity/Index">Table Availability</a></li>
           
        </ul>
    </div>
    <div class="for-edit">
        <h1>
            Current Floorplans</h1>
        <input class="c-new-f-plan" type="button" name="" value="Create New Floorplan" onclick="javascript:window.location='/Floor/NewFloorPlan'">
    </div>
    <div class="floor-plan-main">
        <div class="add-floor-sec">
            <a href="/Floor/NewFloorPlan">
                <img class="add-floor-img" src="/images/add-floor.png" alt="">
            </a>
            <h3>
                <a href="/Floor/NewFloorPlan">Click here to<br />
                    Create New Floorplan Now!</a></h3>
            <h2>
                <a href="javascript:void(0)">No Floorplans Currently Exist</a></h2>
        </div>
    </div>
</div>