.login-inner1 .search-box {
    background: none repeat scroll 0 0 #efefef;
    border: 1px solid #bbb;
    border-radius: 7px;
    margin: 10px auto 0;
    min-height: 100px;
    text-align: center;
    width: 85%;
}

    .login-inner1 .search-box .row {
        float: left;
        width: 100%;
    }

        .login-inner1 .search-box .row p {
            float: left;
            font-size: 9px;
            margin-left: 10px;
            margin-top: 46px;
        }

    .login-inner1 .search-box .control-group {
        float: left;
        height: 100px;
        margin-left: 10px;
    }

        .login-inner1 .search-box .control-group label {
            display: block;
            margin-top: 12px;
            text-align: left;
        }

    .login-inner1 .search-box input[type="text"] {
        background: none repeat scroll 0 0 #fff;
        border: 1px solid #c1c1c1;
        border-radius: 7px;
        box-shadow: 0 2px 2px #e8e8e8 inset;
        box-sizing: border-box;
        color: #959595;
        float: left;
        font-family: "Lato",sans-serif;
        font-size: 14px;
        font-weight: 500;
        height: 50px;
        margin-bottom: 15px;
        padding: 5px 0 5px 7px;
        width: auto;
    }

    .login-inner1 .search-box select {
        background: none repeat scroll 0 0 #fff;
        border: 1px solid #c1c1c1;
        border-radius: 7px;
        box-shadow: 0 2px 2px #e8e8e8 inset;
        box-sizing: border-box;
        color: #959595;
        float: left;
        font-family: "Lato",sans-serif;
        font-size: 14px;
        font-weight: 500;
        height: 50px;
        margin-bottom: 15px;
        padding: 5px 0 5px 7px;
        width: 161px;
    }

    .login-inner1 .search-box button {
        float: left;
        font-weight: 900;
        height: 50px;
        margin-left: 20px;
        margin-top: 26px;
        width: 300px;
    }

.login-inner1 .results {
    float: none;
    margin: 20px auto;
    width: 80%;
}

    .login-inner1 .results p {
        border-bottom: 0.5px solid #e0e0e0;
        text-align: left;
        text-transform: uppercase;
        width: 100%;
    }

    .login-inner1 .results .avail {
        border: 1px solid #bbb;
        border-radius: 2px;
        float: left;
        margin-left: 12px;
        margin-top: 12px;
        padding: 0 0 10px;
        width: 15%;
    }

        .login-inner1 .results .avail h3 {
            padding: 5px 0;
        }

        .login-inner1 .results .avail a {
            border: 1px solid #25729a;
            -webkit-box-shadow: #B4B5B5 1px 1px 1px;
            -moz-box-shadow: #B4B5B5 1px 1px 1px;
            box-shadow: #B4B5B5 1px 1px 1px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            font-size: 12px;
            font-family: arial, helvetica, sans-serif;
            padding: 5px 28px;
            text-decoration: none;
            display: inline-block;
            text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
            font-weight: bold;
            color: #FFFFFF;
            background-color: #3093C7;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#3093C7), to(#1c5a85));
            background-image: -webkit-linear-gradient(top, #3093C7, #1c5a85);
            background-image: -moz-linear-gradient(top, #3093C7, #1c5a85);
            background-image: -ms-linear-gradient(top, #3093C7, #1c5a85);
            background-image: -o-linear-gradient(top, #3093C7, #1c5a85);
            background-image: linear-gradient(to bottom, #3093C7, #1c5a85);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093C7, endColorstr=#1c5a85);
        }

    .login-inner1 .results .availResult {
        float: left;
        width: 100%;
    }

    .login-inner1 .results .search-other.availResult {
        margin-top: 20px;
    }

    .login-inner1 .results .notice {
        line-height: 3em;
        padding-top: 25px;
    }

        .login-inner1 .results .notice > button {
            font-size: 16px;
            padding: 5px 23px;
        }

/******* Reserve *******/

.res {
    float: left;
    width: 100%;
}

    .res.res-form > p {
        text-transform: none;
    }

.head-control {
    float: left;
    line-height: 2em;
    min-width: 20%;
}

    .head-control > a[role=button] {
        background-color: #ff0000;
        background-image: linear-gradient(to bottom, #ff0000, #ae0000);
        border: 1px solid #ff0000;
        color: white;
        display: block;
        font-size: 20px;
        height: 50px;
        line-height: 2.2em;
        text-decoration: none;
        width: 108px;
    }

.form-control {
    float: left;
    width: 50%;
}

    .form-control.txtarea {
        width: 100%;
    }

    .form-control > label {
        display: block;
        font-size: 11px;
        height: 32px;
        text-align: left;
        width: 100%;
    }

    .form-control input, .form-control textarea {
        background: none repeat scroll 0 0 #fff;
        border: 1px solid #c1c1c1;
        border-radius: 7px;
        box-shadow: 0 2px 2px #e8e8e8 inset;
        box-sizing: border-box;
        color: #959595;
        float: left;
        font-family: "Lato",sans-serif;
        font-size: 18px;
        font-weight: 500;
        height: 50px;
        margin-bottom: 15px;
        padding: 5px 0 5px 7px;
        width: 85%;
    }

.res.res-head {
    background-color: #efefef;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 10px 0;
}

.res-foot .res-foot-right > button {
    background-color: #3093c7;
    background-image: linear-gradient(to bottom, #3093c7, #1c5a85);
    border: 1px solid #25729a;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #b4b5b5;
    color: #ffffff;
    display: inline-block;
    font-family: arial,helvetica,sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    margin-top: 10px;
    padding: 5px 28px;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    width: 60%;
}

/*reservation success*/
.address {
        padding: 10px 0 10px 10px;
        text-align: left;
    }

    .pro-pic {
        float: left;
    }

    .desc {
        float: left;
        padding-left: 10px;
        text-align: left;
    }

    .user-detail {
        padding-top: 23px;
    }